[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pydantic-settings = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
ruff = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.0"
