[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = {extras = ["asyncio"], version = ">=2.0.0"}
asyncpg = ">=0.29.0"
alembic = ">=1.13.0"
greenlet = ">=3.0.0"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pydantic-settings = "*"
python-dotenv = "*"
pydantic = {extras = ["email"], version = "*"}
bcrypt = "==4.2.1"

[dev-packages]
black = "*"
ruff = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
